services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    ports:
      - "3000:3000"
    depends_on:
      - users-service

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - frontend

  users-service:
    build:
      context: ./usersService
      dockerfile: Dockerfile
    env_file:
      - ./usersService/.env
    volumes:
      - ./usersService:/usr/src/app
    ports:
      - "4000:4000"
    depends_on:
      - users-db
    command: >
      sh -c "wait-for-it.sh users-db:5432 -- npx prisma generate --schema=./prisma/schema.prisma && npx prisma migrate deploy --schema=./prisma/schema.prisma && npm start"

  users-db:
    image: postgres:15
    environment:
      POSTGRES_USER: users_user
      POSTGRES_PASSWORD: users_password
      POSTGRES_DB: users
    volumes:
      - users_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  pgdata:
  users_data:
